NODE_ENV=development
PORT=5000
# MongoDB (Compass: mongodb://localhost:27017/techshop)
MONGO_URI=mongodb://localhost:27017/techshop
# JWT (đổi thành chuỗi bí mật mạnh)
JWT_SECRET=your_jwt_secret_abc123
